In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder ,OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
#preprocess the data
#drop irrelevant colums
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
##encoding categorical variables
Label_encoder_gender=LabelEncoder()
data['Gender']=Label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [7]:
##one hot encoding georgrapy
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
#combine onehot encoded columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [9]:
#split the data into features and target
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
##save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(Label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)
    
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

__ANN Regression Problem Statement__|

In [12]:
import tensorflow as tf 
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [14]:
#build the model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)##default activation-- Linear activation function
])
#compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [17]:
##setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [18]:
##setup early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [19]:
#Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100292.6641 - mae: 100292.6641 - val_loss: 98553.6562 - val_mae: 98553.6562
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 100069.7891 - mae: 100069.7891 - val_loss: 97267.3516 - val_mae: 97267.3516
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 98587.1797 - mae: 98587.1797 - val_loss: 93919.6094 - val_mae: 93919.6094
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 94719.0781 - mae: 94719.0781 - val_loss: 88161.6797 - val_mae: 88161.6797
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 87620.4141 - mae: 87620.4141 - val_loss: 80365.5703 - val_mae: 80365.5703
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 79628.2422 - mae: 79628.2422 - val_loss: 71749.9531 - val_mae: 71749.9531
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 70811.2188 - mae: 70811.2188 - val_loss: 63892.4141 - val_mae: 63892.4141
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 63976.3516 - mae: 63976.3516 - val_loss: 57768.6680 - val_mae: 57768.6680
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 57008.7227 - mae: 57008.7227 - val_loss: 53796.7812 - val_mae: 53796.7812
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 53277.1914 - mae: 53277.1914 - val_loss: 51854.4609 - val_mae: 51854.4609
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51298.3750 - mae: 51298.3750 - val_loss: 51111.1758 - val_mae: 51111.1758
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50507.2344 - mae: 50507.2344 - val_loss: 50844.4414 - val_mae: 50844.4414
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50425.5469 - mae: 50425.5469 - val_loss: 50774.5586 - val_mae: 50774.5586
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50651.9336 - mae: 50651.9336 - val_loss: 50725.3281 - val_mae: 50725.3281
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50067.7891 - mae: 50067.7891 - val_loss: 50682.7539 - val_mae: 50682.7539
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50154.1445 - mae: 50154.1445 - val_loss: 50634.4336 - val_mae: 50634.4336
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49998.7852 - mae: 49998.7852 - val_loss: 50600.4375 - val_mae: 50600.4375
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50296.7930 - mae: 50296.7930 - val_loss: 50571.0039 - val_mae: 50571.0039
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50358.5312 - mae: 50358.5312 - val_loss: 50542.4219 - val_mae: 50542.4219
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49654.1367 - mae: 49654.1367 - val_loss: 50512.4102 - val_mae: 50512.4102
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50069.2188 - mae: 50069.2188 - val_loss: 50489.3633 - val_mae: 50489.3633
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49765.5234 - mae: 49765.5234 - val_loss: 50462.6914 - val_mae: 50462.6914
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49954.0703 - mae: 49954.0703 - val_loss: 50447.2812 - val_mae: 50447.2812
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49577.9609 - mae: 49577.9609 - val_loss: 50429.3203 - val_mae: 50429.3203
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49563.0977 - mae: 49563.0977 - val_loss: 50414.5195 - val_mae: 50414.5195
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49627.0469 - mae: 49627.0469 - val_loss: 50406.9766 - val_mae: 50406.9766
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48962.5703 - mae: 48962.5703 - val_loss: 50382.8320 - val_mae: 50382.8320
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49499.8203 - mae: 49499.8203 - val_loss: 50375.6523 - val_mae: 50375.6523
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49784.3945 - mae: 49784.3945 - val_loss: 50363.3281 - val_mae: 50363.3281
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49400.2422 - mae: 49400.2422 - val_loss: 50351.1367 - val_mae: 50351.1367
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50208.3828 - mae: 50208.3828 - val_loss: 50343.1367 - val_mae: 50343.1367
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49605.5586 - mae: 49605.5586 - val_loss: 50338.9219 - val_mae: 50338.9219
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49866.3633 - mae: 49866.3633 - val_loss: 50333.4102 - val_mae: 50333.4102
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49502.3438 - mae: 49502.3438 - val_loss: 50325.6797 - val_mae: 50325.6797
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49921.6094 - mae: 49921.6094 - val_loss: 50320.5430 - val_mae: 50320.5430
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49777.1992 - mae: 49777.1992 - val_loss: 50318.9531 - val_mae: 50318.9531
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49943.3594 - mae: 49943.3594 - val_loss: 50313.5859 - val_mae: 50313.5859
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49159.8828 - mae: 49159.8828 - val_loss: 50311.0586 - val_mae: 50311.0586
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48944.9375 - mae: 48944.9375 - val_loss: 50307.7812 - val_mae: 50307.7812
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49121.8398 - mae: 49121.8398 - val_loss: 50306.8633 - val_mae: 50306.8633
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49215.8750 - mae: 49215.8750 - val_loss: 50304.5117 - val_mae: 50304.5117
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49196.1328 - mae: 49196.1328 - val_loss: 50311.2383 - val_mae: 50311.2383
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49514.5547 - mae: 49514.5547 - val_loss: 50303.0234 - val_mae: 50303.0234
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49182.3984 - mae: 49182.3984 - val_loss: 50300.2070 - val_mae: 50300.2070
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49446.5352 - mae: 49446.5352 - val_loss: 50289.2109 - val_mae: 50289.2109
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49107.7344 - mae: 49107.7344 - val_loss: 50290.0469 - val_mae: 50290.0469
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48838.0742 - mae: 48838.0742 - val_loss: 50288.9961 - val_mae: 50288.9961
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49365.2070 - mae: 49365.2070 - val_loss: 50295.8164 - val_mae: 50295.8164
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49298.4844 - mae: 49298.4844 - val_loss: 50290.6133 - val_mae: 50290.6133
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49314.5195 - mae: 49314.5195 - val_loss: 50293.4961 - val_mae: 50293.4961
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49493.2305 - mae: 49493.2305 - val_loss: 50295.6797 - val_mae: 50295.6797
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49631.1289 - mae: 49631.1289 - val_loss: 50286.7266 - val_mae: 50286.7266
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49663.9336 - mae: 49663.9336 - val_loss: 50294.6250 - val_mae: 50294.6250
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49843.0156 - mae: 49843.0156 - val_loss: 50287.2305 - val_mae: 50287.2305
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49556.3828 - mae: 49556.3828 - val_loss: 50293.8867 - val_mae: 50293.8867
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49313.3320 - mae: 49313.3320 - val_loss: 50292.7617 - val_mae: 50292.7617
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49441.0391 - mae: 49441.0391 - val_loss: 50288.7305 - val_mae: 50288.7305
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49197.4922 - mae: 49197.4922 - val_loss: 50292.2070 - val_mae: 50292.2070
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48921.4102 - mae: 48921.4102 - val_loss: 50293.5039 - val_mae: 50293.5039
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49560.9258 - mae: 49560.9258 - val_loss: 50288.1758 - val_mae: 50288.1758
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48640.3125 - mae: 48640.3125 - val_loss: 50283.6758 - val_mae: 50283.6758
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49228.7148 - mae: 49228.7148 - val_loss: 50295.6289 - val_mae: 50295.6289
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48924.6797 - mae: 48924.6797 - val_loss: 50293.1484 - val_mae: 50293.1484
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49416.6289 - mae: 49416.6289 - val_loss: 50294.0898 - val_mae: 50294.0898
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49342.3594 - mae: 49342.3594 - val_loss: 50285.6602 - val_mae: 50285.6602
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50191.9219 - mae: 50191.9219 - val_loss: 50285.1523 - val_mae: 50285.1523
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49218.1680 - mae: 49218.1680 - val_loss: 50292.1016 - val_mae: 50292.1016
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49310.4531 - mae: 49310.4531 - val_loss: 50291.0078 - val_mae: 50291.0078
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49797.0039 - mae: 49797.0039 - val_loss: 50290.8516 - val_mae: 50290.8516
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49623.7109 - mae: 49623.7109 - val_loss: 50293.8281 - val_mae: 50293.8281
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49935.0977 - mae: 49935.0977 - val_loss: 50296.2109 - val_mae: 50296.2109

In [20]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 11512), started 0:00:56 ago. (Use '!kill 11512' to kill it.)

In [23]:
##evaluate model on the test date
test_loss,test_mae= model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51061.5820 - mae: 51061.5820
Test MAE : 50283.67578125

In [24]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.